___Advanced Data Structures:___

Containers â€“ list, tuple, dictionary, set, Frozenset

__Advanced Data Structures:__ 

    tuple
    list
    dictionary
    set
    Frozenset

* They are container datatypes in the sense it contains primitive datatypes
* containers can contain multiple datatypes in them

```python
tuple

x = (1,2,3)
y = (3.14, 'pi')

```

* tuples cannot be modified later (immutable)
* len will show the length
* each element can be addressed by index
* slice operations are allowed like strings

```python
length = len(x)

```

In [1]:
x = (10, 20, 30, 40)

In [2]:
len(x)

4

In [3]:
a = x[0]
a

10

In [13]:
x[0] = 100

TypeError: 'tuple' object does not support item assignment

In [4]:
b = x[1:2]
b

(20,)

In [5]:
x.length() # it is an error

AttributeError: 'tuple' object has no attribute 'length'

In [6]:
c = x[1:3]
c

(20, 30)

In [7]:
x = (10, 20, 30, 40, 50, 60, 70, 80, 90)
# last element
x[-1]

90

In [8]:
x[-2]

80

In [9]:
x[4:]

(50, 60, 70, 80, 90)

In [10]:
x[:5]

(10, 20, 30, 40, 50)

In [11]:
x[:]

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [12]:
x[::2]

(10, 30, 50, 70, 90)

```python
list

x = [1,2,3]
y = [3.14, 'pi']

```

* list is like tuple, but mutable
* supports all operations of tuple
* possible operations: len, access by index, assign by index, slice, 
* list and tuples can be typecasted.
* methods: extend, append, reverse, index(), pop(index), remove(item), del x[index]
* nested lists

In [14]:
x = [10, 20, 30, 40, 50, 60, 70]

In [16]:
x[0:7:2]

[10, 30, 50, 70]

In [18]:
y = tuple(x)
print(y)

(10, 20, 30, 40, 50, 60, 70)

methods: 

extend, append, reverse, index(), pop(index), remove(item), del x[index]

In [20]:
y = [80, 90, 100]

In [21]:
x.extend(y)

In [22]:
print x

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
x.append(y)

In [24]:
print(x)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, [80, 90, 100]]

In [25]:
x[-1]

[80, 90, 100]

In [26]:
x[-1][2]

100

In [27]:
x.pop() #pop uses index

[80, 90, 100]

In [28]:
x

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [29]:
x.pop(0)

10

In [30]:
x

[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [31]:
x.remove(70) #goes by value

In [32]:
x

[20, 30, 40, 50, 60, 80, 90, 100]

In [35]:
x = [20, 30, 40, 50, 60, 80, 90, 100]

In [36]:
x.insert(5, 70)

In [37]:
x

[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [38]:
x.insert(0, 10) # index, value

In [39]:
x

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

copying a list:

...

Tuple of lists and the case of immutability...

...

In [43]:
x = range(5)
y = range(5)
z = range(5)
print(x, y, z)
a = (x, y, z)
print(a)

([0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4])
([0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4])

In [44]:
a[0]

[0, 1, 2, 3, 4]

In [45]:
x.pop()

4

In [46]:
a[0]

[0, 1, 2, 3]

In [53]:
for i in range(10):
    print i,

0 1 2 3 4 5 6 7 8 9

In [54]:
for i in xrange(10):
    print i,

0 1 2 3 4 5 6 7 8 9

In [55]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
xrange(10)

xrange(10)

In [58]:
xrange(10)[5]

5

In [ ]:
print()

```python
dict

# key value pair
x = {'name': 'Bob', 'age': 28}
#access by key instead of index
x['name']
#assignments possible
x['name'] = 'Alice'
#additional entries can be added
x['country'] = 'India'
#elements can be removed
del(x['age'])

#additional operations: keys(), values(), items(), update(), dict.fromkeys(x, setdefault), pop(), clear, view*()

#iteration

```

In [48]:
x = {'name': 'Bob', 'age': 28}
x.keys()

['age', 'name']

In [49]:
x.values()

[28, 'Bob']

In [50]:
x.items()

[('age', 28), ('name', 'Bob')]

In [51]:
y = {'country' : 'India'}
x.update(y)

In [52]:
print x

{'country': 'India', 'age': 28, 'name': 'Bob'}

### set

```python

#contains onlyt unique elements

x = set([1, 2, 3, 2, 5])

# unordered collection of immutable values.
# can be created from tuple or lists
# all mathematical set operations are possible.
# add, remove, union, subset, intersection, add etc.
# unlike lists and tuples, sets cannot be accessed by index

frozenset

#frozenset is the immutable version of set.
#operations like add, remove are not allowed.

```

In [ ]:
x = [1, 2, 3]
y = (1, 2, 3)
z = {'a':10, 'b': 100}
s = {1, 2, 3, 4}

__Sorting__

```python
list.sort()
sorted(list)

# try with other datatypes
```

In [59]:
x = [(1, 10), (3, 1), (5, 0), (4, 4)]


x.sort()

In [60]:
print(x)

[(1, 10), (3, 1), (4, 4), (5, 0)]

In [66]:
y = [(1, 10), (3, -1), (5, 0), (4, -4),(3, -4), (4, -20)]

In [67]:
y.sort(key=lambda p:p[1]**2)
print(y)

[(5, 0), (3, -1), (4, -4), (3, -4), (1, 10), (4, -20)]